/* Scrollbar styles */
::-webkit-scrollbar {
    width: 0.15em;
    height: 0.15em;
}

::-webkit-scrollbar-thumb {
    background: slategray;
}

::-webkit-scrollbar-track {
    background: #c8ced6; /* mix(slategray, white, 50%) approximated */
}
/* For IE */
body {
    scrollbar-face-color: slategray;
    scrollbar-track-color: #c8ced6;
}


.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

button.btn i {
    margin-right: 3px;
}

.btn-toolbar.buttons {
    display: none;
}
/* Large screen styles */
/* body.large-screen .table-wrapper {
  max-width: 800px;
} */

body.large-screen .card-list-table {
    background: white;
}

    body.large-screen .card-list-table tbody tr {
        background: transparent;
        box-shadow: none;
        margin: 0;
    }

        body.large-screen .card-list-table tbody tr:nth-of-type(even) {
            background: #e6e6e6; /* darken(#f8f8f8, 10%) approximated */
        }

    body.large-screen .card-list-table thead {
        display: table-header-group;
    }

        body.large-screen .card-list-table thead th:last-child {
            box-shadow: none;
        }

        body.large-screen .card-list-table thead th {
            border-bottom: 1px solid #e6e6e6;
            padding: 5px 10px;
        }

    body.large-screen .card-list-table tbody tr {
        display: table-row;
        padding-bottom: 0;
    }

        body.large-screen .card-list-table tbody tr:nth-of-type(even) {
            background: #fff;
        }

    body.large-screen .card-list-table tbody td {
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;
        display: table-cell;
        padding: 5px 10px;
        transition: background 0.2s ease-out;
        vertical-align: middle;
    }

        body.large-screen .card-list-table tbody td:after {
            display: none;
        }

        body.large-screen .card-list-table tbody td:before {
            content: '';
        }

    body.large-screen .card-list-table tbody tr:hover td {
        background: #f4f4f4;
    }

.buttons {
    margin: 10px 0 50px;
}

.table-wrapper {
    width: 100%;
    margin: 0 auto;
    /*max-height: 200px;*/
    /* max-height: 400px; */
    overflow-y: scroll;
    position: relative;
    transition: all 0.2s ease-out;
    background: white;
    box-shadow: none !important;
    height: calc(100% - 50px);
}

@media (min-width: 768px) {
    .table-wrapper {
        background: white;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
}

.card-list-table {
    table-layout: fixed;
    background: transparent;
    width: 99%;
    margin: 5px auto;
}

    .card-list-table thead {
        display: none;
    }

    .card-list-table tbody tr {
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        background: #fff;
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;
        display: block;
        padding: 15px 10px;
        margin-bottom: 10px;
        margin-top: 0px;
        border-top: 1px solid #f4f4f4;
    }

    .card-list-table tbody td {
        border: 0;
        display: block;
        padding: 10px 10px 10px 30%;
        position: relative;
    }

        .card-list-table tbody td:first-of-type::after {
            visibility: hidden;
        }

        .card-list-table tbody td:after {
            content: '';
            width: calc(100% - 30px);
            display: block;
            margin: 0 auto;
            height: 1px;
            background: #e6e6e6;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
        }

        .card-list-table tbody td:before {
            text-transform: capitalize;
            font-size: 0.85em;
            color: #333;
            letter-spacing: 0.1pt;
            content: attr(data-title);
            display: table-cell;
            font-weight: 500;
            height: 100%;
            left: 15px;
            margin: auto;
            position: absolute;
            vertical-align: middle;
            white-space: nowrap;
            width: 40%;
            top: 11px;
        }

    .card-list-table thead th {
        text-transform: capitalize;
        font-size: 0.85em;
        color: #333;
        letter-spacing: 0.1pt;
    }
