@model UserAuthorization
@{
    ViewData["Title"] = "User Authorization";
}
@* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/styles_custom.css" rel="stylesheet" />
<link href="css/table-card.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="~/js/scripts.js"></script>
<script src="~/js/custom.js"></script> *@


<style>
    .btn-loading {
        position: relative;
        color: transparent !important;
    }

        .btn-loading:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 50%;
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            border: 2px solid #ffffff;
            border-radius: 50%;
            border-top-color: transparent;
            animation: spin 1s ease-in-out infinite;
        }

    @@keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    .loader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
    }

</style>

<div class="container-fluid p-4">
    <div class="row">
        <div class="col-md-12 p-0 border">
            <div class="bg-white shadow custom-tabs">
                <ul class="nav bg-light nav-pills border-bottom" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tab1-tab" data-bs-toggle="pill" @* data-bs-toggle="tab" *@
                                data-bs-target="#tab1" type="button" role="tab"
                                aria-controls="tab1" aria-selected="true">
                            User Authorization
                        </button>
                    </li>
                    @*  <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab2-tab"  data-bs-toggle="tab"
                                data-bs-target="#tab2" type="button" role="tab"
                                aria-controls="tab2" aria-selected="false">
                            Screen List
                        </button>
                    </li> *@

                </ul>

                <div class="tab-content m2 p-3 border bg-white" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                         aria-labelledby="tab1-tab">
                        <div class="card bg-light border rounded-0 shadoww">
                            <div class="card-body bg-white text-dark roundedd p-3">
                                @* <div class="border-bottom pb-2 mb-3 d-flex align-items-center"> *@
                                    @* <div> <img height="50" src="~/assets/img/user.png" /></div> *@

                                    @* <div class="px-3"> *@
                                        @*   <h5>
                                            User Authorization
                                        </h5> *@
                                    @* </div> *@
                                @* </div> *@

                                <form id="usergrpForm">
                                    <input type="hidden" id="GroupId" value="0" />

                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <label class="form-label">Roles</label>
                                            <select asp-for="GroupID" asp-items="Model.UserGroups"
                                                    class="form-control" id="ddlUserGroup">
                                                <option value="">--Select--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Screen List (loaded dynamically) -->
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label class="form-label">Screens</label>
                                            <div id="screenList" class="p-2">
                                                <!-- checkboxes will be added here -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Save/Update button -->
                                    <div class="text-end">
                                        <button type="button" id="btnSave" class="btn btn-outline-success btn-block rounded shadow-sm">
                                            <i class="fa fa-save"></i> <span>Save</span>
                                        </button>
                                        <button type="button" id="btnUpdate" class="btn btn-outline-primary btn-block rounded shadow-sm" style="display:none;">
                                            <i class="bi bi-pencil-square me-1"></i> <span>Update</span>
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    @*   <div class="tab-pane fade" id="tab2" role="tabpanel"
                         aria-labelledby="tab2-tab">
                        <div class="card border rounded-0">
                            <div class="card-body p-0 border-0 rounded-0">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wrap">
                                            <div class="table-wrapper">
                                                <table class="table table-bordered table-striped">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Sr.No</th>
                                                            <th>Parent Screen</th>
                                                            <th>Screen Name</th>
                                                            <th>Screen URL</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="screenList">
                                                        <tr>

                                                            <td>
                                                                <button class="btn-edit border-0 bg-transparent me-1">
                                                                    <i class="bi bi-pencil-square text-success fs-5"></i>
                                                                </button>
                                                                <button class="btn-delete border-0 bg-transparent">
                                                                    <i class="bi bi-trash-fill text-danger fs-5"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                     
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
 *@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100"></div>

<script>

    function showMessage(message, type) {
        // type = success, danger, warning, info
        var bgClass = "bg-" + type;

        var toastHtml = `
            <div class="toast align-items-center text-white ${bgClass} border-0 mb-2" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        ${message}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>`;

        var $toast = $(toastHtml);
        $(".toast-container").append($toast);

        var toast = new bootstrap.Toast($toast[0], {
            autohide: true,
            delay: 3000
        });
        toast.show();

        // auto remove after hide
        $toast.on('hidden.bs.toast', function () {
            $(this).remove();
        });
    }

    // Show Loader
        function showLoader() {
            if ($('#loaderOverlay').length === 0) {
                $('body').append(`
                    <div class="loader-overlay" id="loaderOverlay">
                        <div class="spinner-border text-light" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                `);
            }
        }

        // Hide Loader
        function hideLoader() {
            $('#loaderOverlay').remove();
        }

        // Show Button Loader
        function showButtonLoader($btn, text) {
            $btn.prop('disabled', true);
            $btn.addClass('btn-loading');
            $btn.find('span').text(text);
        }

        // Hide Button Loader
        function hideButtonLoader($btn, originalText) {
            $btn.prop('disabled', false);
            $btn.removeClass('btn-loading');
            $btn.find('span').text(originalText);
        }


    $(document).ready(function () {
        loadScreens(); // load all screens and render table
        $("#ddlUserGroup").on("change", onRoleChange);
        $("#btnSave").on("click", onSaveRoleScreens);
    });

    function loadScreens() {
        $.ajax({
            url: "/api/auth/GetScreensByRole",
            type: "GET",
            success: function (data) {
                
                // keep all screens globally
                window.ALL_SCREENS = data;
                renderScreenTable(data, "");
            },
            error: function (res) {
                
                $("#screenList").html("<div class='text-danger'>Error loading screens.</div>");
            }
        });
    }

            function renderScreenTable(screens, checkedCsv) {
        var checkedSet = new Set((checkedCsv || "").split(',').filter(Boolean));

        if (!screens || screens.length === 0) {
            $("#screenList").html("<div class='text-muted'>No screens found.</div>");
            return;
        }
        console.log("Screens data:", screens);
        // Group by parentScreen
           var grouped = [];

    // Step 1: collect parents
    screens.forEach(function (item) {
        if (item.parentScreenid == 0) {
            grouped.push({
                screenId: item.screenId,
                screenName: item.screenName,
                children: []
            });
        }
    });

    // Step 2: assign children to parents
    grouped.forEach(function (parent) {
        screens.forEach(function (item) {
            if (item.parentScreenid > 0 && item.parentScreenid == parent.screenId) {
                parent.children.push({
                    screenId: item.screenId,
                    screenName: item.screenName,
                    parentId: item.parentScreenid
                });
            }
        });
    });
    console.log("Grouped result:", grouped);
        debugger;
        var html = "";
        $.each(grouped, function (parentName, obj) {
            // var parentId = obj.parentId;
            var parentId = obj;
              var childIds= obj.children
                            .map(child => child.screenId)
                            //.join(',');


            //var isParentChecked = checkedSet.has(String(parentId)) ? "checked" : "";
            //var isParentChecked = checkedSet.has(String(childIds)) ? "checked" : "";
            var isParentChecked = childIds.some(id => checkedSet.has(String(id))) ? "checked" : "";

            html += `
                <div class="mb-3">
                    <!-- Parent row -->
                    <div class="form-check mb-1">
                        <input type="checkbox" class="form-check-input chkParent"
                               id="parent_${obj.screenId}" value="${obj.screenId}" ${isParentChecked}>
                        <label class="form-check-label fw-bold" for="parent_${obj.screenId}">
                            ${obj.screenName}
                        </label>
                    </div>

                    <!-- Children row -->
                    <div class="d-flex flex-wrap ms-4 gap-4">
            `;

            obj.children.forEach(function (item) {
                var isChecked = checkedSet.has(String(item.screenId)) ? "checked" : "";
                html += `
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input chkChild"
                               data-parent="${item.parentId}"
                               id="scr_${item.screenId}"
                               value="${item.screenId}" ${isChecked}>
                        <label class="form-check-label" for="scr_${item.screenId}">
                            ${item.screenName}
                        </label>
                    </div>
                `;
            });

            html += `
                    </div>
                </div>
            `;
        });

        $("#screenList").html(html);
    }



    function onRoleChange() {
        var groupId = $("#ddlUserGroup").val();
        if (!groupId) {
            renderScreenTable(window.ALL_SCREENS || [], "");
            return;
        }
        //AppLoader.show();
        $.ajax({
            url: "/api/auth/GetRoleScreens",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ groupId: groupId }),
            //data: { groupId: groupId },
            success: function (resp) {
                // var csv = resp && resp.screenIds ? resp.screenIds : "";
                 var csv = resp[0] && resp[0].screenIds ? resp[0].screenIds : ""
                renderScreenTable(window.ALL_SCREENS || [], csv);
                //AppLoader.hide();
            },
            error: function () {
                showMessage("Error loading role screens.", "danger");
            }
        });
    }

    // Save selected checkboxes
    function onSaveRoleScreens(e) {
        e.preventDefault();

         const $btn = $(this);
         const originalText = $btn.find('span').text();

        var groupId = $("#ddlUserGroup").val();
        if (!groupId) {
            showMessage("Please select a role first.", "warning");
            return;
        }

        // collect checked screen ids (both parent + child)
        // var checked = $(".chkScreen:checked, .chkParent:checked")
        //     .map(function () { return $(this).val(); })
        //     .get();

        // var csv = checked.join(",");

        // collect parent + child screens as objects
    var screens = $(".chkChild:checked, .chkParent:checked").map(function () {
        return {
            screenId: parseInt($(this).val()),
            parentId: parseInt($(this).data("parent") || 0)
        };
    }).get();

        var data = {
            groupId: parseInt(groupId),
            //screenIds: screens
            screens: screens
        };
            showButtonLoader($btn, "Saving...");
            showLoader();

        $.ajax({
            url: "/api/auth/SaveRoleScreens",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (resp) {
                if (resp && (resp.Status === 1 || resp.status === true)) {
                     // AppLoader.hide();

                    showMessage(resp.Message || "Access Granted", "success");
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    showMessage(resp.Message || "Could not save screens.", "danger");
                }
            },
            error: function () {
                showMessage("Error while saving. Try again.", "danger");
            },
                 complete: function () {
                    hideButtonLoader($btn, originalText);
                    hideLoader();
                }
        });
    }


        // Parent -> Children
    $(document).on("change", ".chkParent", function () {
        var parentId = $(this).val();
        var isChecked = $(this).is(":checked");
        $(".chkChild[data-parent='" + parentId + "']").prop("checked", isChecked);
    });

    // Child -> Parent
    $(document).on("change", ".chkChild", function () {
        var parentId = $(this).data("parent");
        var $children = $(".chkChild[data-parent='" + parentId + "']");
        var $parent = $("#parent_" + parentId);

        $parent.prop("checked", $children.filter(":checked").length > 0);
    });



</script>
